In [1]:
#Importamos las librerías necesarias para el proyecto.
import requests #requests para extraer el contenido de internet
from bs4 import BeautifulSoup #BeautifulSoup para procesar un archivo HTML.
import pandas as pd #Pandas para crear y manipular los datos.
import numpy as np #Numpy para realizar operaciones matemáticas.
import scipy.stats as st #Scipy para las pruebas de hipótesis y operaciones estadísticas.
import matplotlib.pyplot as plt #Matplotlib para las visualizaciones necesarias.
import sqlalchemy as sa #SQLalchemy para acceder a la base de datos.

In [2]:
#Hacemos la solicitud, obtenemos la información y la procesamos con la librería BeatifulSoup.
req = requests.get('https://practicum-content.s3.us-west-1.amazonaws.com/data-analyst-eng/moved_chicago_weather_2017.html')
soup = BeautifulSoup(req.text, 'lxml')
table = soup.find('table', attrs={'id':'weather_records','class':'dataframe'})

In [3]:
#A continuación vamos a comenzar a crear el DataFrame, primero extraemos los nombres de las columnas.
header=[]  
for row in table.find_all(
    'th'
):  
    header.append(
        row.text
    )  
header

['Date and time', 'Temperature', 'Description']

In [4]:
#Ahora extraemos los datos de la tabla
data = []
for row in table.find_all('tr'):
    if not row.find_all('th'):
        data.append([element.text for element in row.find_all('td')])
        
#Vamos a crear el DataFrame:
weather_records = pd.DataFrame(data, columns=header)
weather_records

           Date and time Temperature       Description
0    2017-11-01 00:00:00     276.150     broken clouds
1    2017-11-01 01:00:00     275.700  scattered clouds
2    2017-11-01 02:00:00     275.610   overcast clouds
3    2017-11-01 03:00:00     275.350     broken clouds
4    2017-11-01 04:00:00     275.240     broken clouds
..                   ...         ...               ...
692  2017-11-29 20:00:00     281.340        few clouds
693  2017-11-29 21:00:00     281.690      sky is clear
694  2017-11-29 22:00:00     281.070        few clouds
695  2017-11-29 23:00:00     280.060      sky is clear
696  2017-11-30 00:00:00     278.460      sky is clear

[697 rows x 3 columns]